.input-cust-width{
    width:80%;
}
.feed-control-form-width{
    width:100%;
}
.navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width:80%;
}